header{
    padding-top: 0.25rem;
    background-color:#707070;
}

body{
    background-color:#494949;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
    font-size: 5rem;
    text-align: center;
    font-family: 'Bangers', cursive;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.grid{
    display: flex;
    flex-direction: column-reverse;
}

table, body, tbody, tr, td{
    border-collapse: collapse;
}

table{
    border: 2px solid black;
    width: 10rem;
    background-color:#707070;
}

td{
    border: 1px solid black;
    width: 0.25rem;
    height: 3.15rem;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

input.caseInput{
    background-color :inherit;
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

input.caseInput{
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: text;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input.caseInput:focus{
    border:none;
    outline:none;
    background-color: whitesmoke;
}

button{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    border-radius: 1rem 1rem 1rem 1rem;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: rgb(37, 37, 37);
}

button:focus{
    outline:none;
}

img{
    margin-left: 5rem;
    margin-right: 5rem;
}

footer{
    text-align: right;
    margin-top: 6.0rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
}

@media all and (max-width: 1800px){

	div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img{
        margin-left: auto;
        margin-right: auto;
        transform: rotate(90deg);
        margin-top: 40rem;
        margin-bottom: 3rem;
        width: 75%;
    }

    div.grid{
        margin-left: auto;
        margin-right: auto;
    }

    table{
        width: 20rem;
        height: 20rem;
    }

    footer{
        margin-top: 40rem;
    }
 }